<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToggleExclusiveModeGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToggleExclusiveModeGUI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ToggleExclusiveModeGUI.Properties.Settings>
            <setting name="defaultpath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Rocksmith2014\Rocksmith.ini</value>
            </setting>
            <setting name="defaultgamepath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Rocksmith2014\Rocksmith2014.exe</value>
            </setting>
        </ToggleExclusiveModeGUI.Properties.Settings>
        <ToggleExclusiveModeGUI.Settings1>
            <setting name="GamePath" serializeAs="String">
                <value>GameCheck.defaultpath</value>
            </setting>
            <setting name="defaultpath" serializeAs="String">
                <value>GameCheck.defaultpath</value>
            </setting>
        </ToggleExclusiveModeGUI.Settings1>
    </userSettings>
</configuration>